{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Agregar Nueva Dirección</h2>
  <form method="POST">
    <div class="form-group">
      <label for="calle">Calle</label>
      <input type="text" class="form-control" name="calle" required>
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad</label>
      <input type="text" class="form-control" name="ciudad" required>
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" class="form-control" name="estado" required>
    </div>
    <div class="form-group">
      <label for="cp">Código Postal</label>
      <input type="text" class="form-control" name="cp" required>
    </div>
    <button type="submit" class="btn btn-success mt-3">Guardar</button>
    <a href="{{ url_for('perfile_page') }}" class="btn btn-secondary mt-3">Cancelar</a>
  </form>
</div>
{% endblock %}
